{% extends 'main/main.html' %}
{% load static %}


{% block titulo %}
<title>MMC Home</title>
{% endblock %}



{% block carrossel %}
<div class="centralizar">

    <div class="carrossel">
        <div class="carrossel_nav">
            <div id="moveLeft" class="carrossel_arrow">
                <span class="material-symbols-outlined carrossel_icon">
                    arrow_back_ios
                </span>
            </div>

            <span id="moveRight" class="carrossel_arrow">
                <span class="material-symbols-outlined carrossel_icon">
                    arrow_forward_ios
                </span>

            </span>

        </div>


        <div class="carrossel-item carrossel-item--1">
            <div class="carrossel-item_image"></div>
            <div class="carrossel-item_info">
                <div class="carrossel-item_container">
                    <h1 class="carrossel-item_titulo">100 Anos Da Semana Da Arte Moderna</h1>
                    <p class="carrossel-item_description">Sed ut perspiciatis unde omnis iste natus error sit
                        voluptatem accusantium doloremque laudantium, totam rem aperiam.</p>
                    <a href="" class="carrossel-item_btn">Explore the tour</a>
                </div>
            </div>
        </div>
        <div class="carrossel-item carrossel-item--2">
            <div class="carrossel-item_image"></div>
            <div class="carrossel-item_info">
                <div class="carrossel-item_container">
                    <h1 class="carrossel-item_titulo">150 Anos de Santos Dumont</h1>
                    <p class="carrossel-item_description">Sed ut perspiciatis unde omnis iste natus error sit
                        voluptatem accusantium doloremque laudantium, totam rem aperiam.</p>
                    <a href="" class="carrossel-item_btn">Explore the tour</a>
                </div>
            </div>
        </div>
        <div class="carrossel-item carrossel-item--3">
            <div class="carrossel-item_image"></div>
            <div class="carrossel-item_info">
                <div class="carrossel-item_container">
                    <h1 class="carrossel-item_titulo">Olimpiadas de 2024 em Paris</h1>
                    <p class="carrossel-item_description">Sed ut perspiciatis unde omnis iste natus error sit
                        voluptatem accusantium doloremque laudantium, totam rem aperiam.</p>
                    <a href="" class="carrossel-item_btn">Explore the tour</a>
                </div>
            </div>
        </div>
        <div class="carrossel-item carrossel-item--4">
            <div class="carrossel-item_image"></div>
            <div class="carrossel-item_info">
                <div class="carrossel-item_container">
                    <h1 class="carrossel-item_titulo">1Revolução Industrial</h1>
                    <p class="carrossel-item_description">Sed ut perspiciatis unde omnis iste natus error sit
                        voluptatem accusantium doloremque laudantium, totam rem aperiam.</p>
                    <a href="" class="carrossel-item_btn">Explore the tour</a>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}



{% block sobre %}

<section id="sobre" class="container mt-5">
    <div class="row w-100">
        <div class="col-md-12" data-anime="down">
            <h1>sobre</h1>
        </div>

        <div class="col-md-8" data-anime="up">
            <h4>Somos uma empresa gerenciamento de um Museu Multitemático</h4>
            <p>O nosso diferencial é promover a compreensão e apreciação da diversidade cultural, científica e
                histórica, enriquecendo a experiência educacional e cultural de nossos visitantes, ao mesmo tempo que
                incentivamos o diálogo intercultural e a busca pelo conhecimento.Lorem ipsum dolor sit amet, consectetur
                adipiscing elit. Suspendisse hendrerit diam sed dictum ullamcorper. Integer tempor laoreet leo, a semper
                diam pulvinar sit amet. Proin tellus diam, elementum sed elit non, volutpat eleifend quam. Cras
                convallis velit vitae urna finibus, at vehicula augue placerat. Etiam a consequat dui, non hendrerit
                dolor. Suspendisse varius faucibus lorem, sed ornare metus blandit quis. Maecenas malesuada nulla
                tincidunt fringilla ornare. Nunc blandit interdum ligula, eget tincidunt nisl volutpat a. Sed accumsan
                eros nec risus venenatis ornare. Nam mattis luctus nisl non venenatis. Donec faucibus a sem vel finibus.
            </p>
        </div>
        <div class="col-md-4 sobre-image" data-anime="up"><img
                src="https://media.architecturaldigest.com/photos/60a39df6dcbfed2eca7c2ae5/master/pass/AD0621_PHILADELPHIA_4.jpg"
                alt=""></div>


        <div class="col-md-12 pt-4" data-anime="left">
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse hendrerit diam sed dictum
                ullamcorper. Integer tempor laoreet leo, a semper diam pulvinar sit amet. Proin tellus diam, elementum
                sed elit non, volutpat eleifend quam. Cras convallis velit vitae urna finibus, at vehicula augue
                placerat. Etiam a consequat dui, non hendrerit dolor. Suspendisse varius faucibus lorem, sed ornare
                metus blandit quis. Maecenas malesuada nulla tincidunt fringilla ornare. Nunc blandit interdum ligula,
                eget tincidunt nisl volutpat a. Sed accumsan eros nec risus venenatis ornare. Nam mattis luctus nisl non
                venenatis. Donec faucibus a sem vel finibus. Curabitur ut libero ultricies, iaculis sem in, fermentum
                quam. Donec id ipsum pharetra, semper tortor vitae, varius dolor. Duis vulputate maximus massa, et porta
                sem efficitur vitae. Curabitur sollicitudin erat eu augue accumsan consequat. Quisque finibus, arcu
                vitae venenatis sagittis, nisi tellus viverra turpis, vel auctor nisl lectus eu urna.</p>
        </div>


        <div class="col-md-4" data-anime="right">
            <div class="conteiner">
                <div class="card">
                    <div class="face face1">
                        <div class="conteudo">
                            <h2 class="java">Missão</h2>
                            <p class="java"></p>
                        </div>
                    </div>

                    <div class="face face2">
                        <h2>Missão</h2>
                    </div>
                </div>
            </div>
        </div>
    </div>


</section>
{% endblock %}