{% extends 'main/main.html' %}
{% load static %}


{% block titulo %}
<title>MMC Home</title>
{% endblock %}



{% block carrossel %}
<div class="centralizar">

    <div class="carrossel">
        <div class="carrossel_nav">
            <div id="moveLeft" class="carrossel_arrow">
                <span class="material-symbols-outlined carrossel_icon">
                    arrow_back_ios
                </span>
            </div>

            <span id="moveRight" class="carrossel_arrow">
                <span class="material-symbols-outlined carrossel_icon">
                    arrow_forward_ios
                </span>
                
            </span>

        </div>


        <div class="carrossel-item carrossel-item--1">
            <div class="carrossel-item_image"></div>
            <div class="carrossel-item_info">
                <div class="carrossel-item_container">
                    <h1 class="carrossel-item_titulo">100 Anos Da Semana Da Arte Moderna</h1>
                    <p class="carrossel-item_description">Sed ut perspiciatis unde omnis iste natus error sit
                        voluptatem accusantium doloremque laudantium, totam rem aperiam.</p>
                    <a href="" class="carrossel-item_btn">Explore the tour</a>
                </div>
            </div>
        </div>
        <div class="carrossel-item carrossel-item--2">
            <div class="carrossel-item_image"></div>
            <div class="carrossel-item_info">
                <div class="carrossel-item_container">
                    <h1 class="carrossel-item_titulo">150 Anos de Santos Dumont</h1>
                    <p class="carrossel-item_description">Sed ut perspiciatis unde omnis iste natus error sit
                        voluptatem accusantium doloremque laudantium, totam rem aperiam.</p>
                    <a href="" class="carrossel-item_btn">Explore the tour</a>
                </div>
            </div>
        </div>
        <div class="carrossel-item carrossel-item--3">
            <div class="carrossel-item_image"></div>
            <div class="carrossel-item_info">
                <div class="carrossel-item_container">
                    <h1 class="carrossel-item_titulo">Olimpiadas de 2024 em Paris</h1>
                    <p class="carrossel-item_description">Sed ut perspiciatis unde omnis iste natus error sit
                        voluptatem accusantium doloremque laudantium, totam rem aperiam.</p>
                    <a href="" class="carrossel-item_btn">Explore the tour</a>
                </div>
            </div>
        </div>
        <div class="carrossel-item carrossel-item--4">
            <div class="carrossel-item_image"></div>
            <div class="carrossel-item_info">
                <div class="carrossel-item_container">
                    <h1 class="carrossel-item_titulo">1Revolução Industrial</h1>
                    <p class="carrossel-item_description">Sed ut perspiciatis unde omnis iste natus error sit
                        voluptatem accusantium doloremque laudantium, totam rem aperiam.</p>
                    <a href="" class="carrossel-item_btn">Explore the tour</a>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}



{% block sobre %}

    <div class="container">
        <h1 class="titulo-sobre">sobre</h1>
    </div>
{% endblock %}
